@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}
/*2b2b2b*/

body{
    background-color: 	#f1beb0;
    background-image: url("paw-print.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container{
    background-color: transparent;
    position:absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 100px 50px;
    border-radius: 5px;
    text-align: center;
}

.btn{
    cursor: pointer;
    display: inline-block;
    align-self: center;
}